<% @name = "Mark Holton" %>
<% @num_rounds = 3 %>
<% @playing_partner = [] %>
<% @playing_partner[1] = "Tim Parker" %>
<% @playing_partner[2] = "Tom Mino" %>
<% @gravatar_email = 'holtonma@gmail.com' %>

	<div id="main">
		<div id="subtab-nav">
			<ul><!-- class="subnav secondlevel"-->
				<li id="t-roundmain" class="selected"><a href="">Rounds Main</a></li>
				<li><a href="">Find Rounds</a></li>
				<li><a href="">Goals</a></li>
			</ul>
		</div>
		<div id="detail-nav">
			<ul class="clear">
				<%# new_player_round GET  /players/:player_id/rounds/new   {:controller=>"rounds", :action=>"new"} %>
				<li>
					<!-- <a href="">Last 10 Rounds</a> -->
					<%= link_to "Last 10 rounds", url_for(:n => 10), :class => "" %> <!-- url_for(:n => 10) -->
				  <%# url_for(:id => "foo", :foobar => 200, :baz => "23k")%>
				</li>
				<li><%= link_to "New Round", new_player_round_path(@user_id), :class => "" %></li> 
				<li><a href="">Starred Rounds</a></li>
				<li id="t-findrounds">
					<a href="">
						Find Round:&nbsp;&nbsp;
						<em>more</em>
					</a>
					<ul class="submenu wbadges" style="display:none;">
						<li>6/13/08 : 88 (+16) at Druid's Glen GC</li>
						<li>6/6/08 : 87 (+15) at Druid's Glen GC</li>
						<li>6/5/08 : 83 (+11) at Legion Memorial GC</li>
					</ul>
				</li>
				<li id="t-bestrounds"><a href="">Best Rounds:&nbsp;&nbsp;<em>more</em></a></li>
			</ul>
		</div>
		
		<div id="flashes">
			<!-- -->
		</div>
		
		<div id="page-top">
		  <div class="greet clear">
			  <a href="/">
				  <%= image_tag(url_for_gravatar(@gravatar_email), :class => "avatar", :alt => "", :size => "48x48") %>
				</a>
			  <h3 class="nameplate"><%= @name %></h3>
			  <p class="gmeta">
			  	You have played <a href=""><%= @num_rounds %> rounds</a> in the last month.
			  </p>
			</div>
		</div>
		<div align="center"><h2>Your recent golf rounds:</h2></div>
		<div id="main-content" class="clear">
			<div id="golfrounds"> <%# events %>
			  <ul class="data golfrounds">
					<% for round in @my_round_details %>
					  <li class="golfround clear"> 
						  <%= image_tag(url_for_gravatar("holtonma@gmail.com"), :class => "avatar", :alt => "") %>  
					    <% if (round.total_score > round.course.total_par) %>
					      <% plusminus = "+ #{(round.total_score - round.course.total_par)}"%>
					    <% else %>
					      <% plusminus = "#{(round.total_score - round.course.total_par)}"%>
						  <% end %> 
					    <%= link_to "#{round.total_score} (#{plusminus})", 
					        url_for(:m => round.date_played.month, :y => round.date_played.year) %>
					    at <%= round.course.name %>
					    <div style="border: 0px dotted silver;text-align:right;">
						    <b><%= round.foursomes.length + 1 %>-some:</b>
						    <%# unless round.foursomes == nil %>
						      <% for foursome in round.foursomes %>
						    		<a href="">
							        <%= foursome.user.fname unless (foursome.user == nil) %>
						          <%= foursome.user.lname unless (foursome.user == nil) %>
						          <%= foursome.friend_fname if (foursome.friend_user_id == -1)%>
						          <%= foursome.friend_fname if (foursome.friend_user_id == -1)%>
						        </a>
						      <% end %>
						    <%# end %> 
						  </div>
							<p class="day-break">
								<span class="day"><%= @daynames[round.date_played.wday] %></span>
								<span class="num"><%= @all_months[round.date_played.month-1] %> <%= round.date_played.mday %>
									<% if (round.date_played.year < Time.now.year) %>'<%= round.date_played.year.to_s[2,2] %><% end %>
								</span>
							</p>
							<%# class_name = "r#{round.round_type.name.downcase}" %>
							<span class="rtype <%= "r#{round.round_type.name.downcase}" %> ">
							  <%= round.round_type.name.downcase %>
							</span>
					  </li>
					<% end %>
				<ul class="data golfrounds">
					<li class="golfround clear">
						<a href="">
							<%= image_tag(url_for_gravatar(@gravatar_email), :class => "avatar", :alt => "") %>
						</a>
						<a title="" href="">88 (+16)</a> at Druid's Glen Golf Club.
						<div style="border: 0px dotted silver;text-align:right;"><b>onesome:</b> <a href="">[enter playing partners]</a></div>
						<p class="day-break"><span class="day">Saturday</span><span class="num">June 5th</span></p>
						<span class="rtype rpractice">practice</span>
					</li>
					<li class="golfround clear">
						<%#<a href=''><img class='avatar' src='/images/avatar.gif' alt='' border="0"></a> %>
						<%= image_tag(url_for_gravatar(@gravatar_email), :class => "avatar", :alt => "") %>
						<a title="" href="">87 (+15)</a> at Druid's Glen Golf Club.
						<div style="border: 0px dotted silver;text-align:right;display:block;" align="right">
							<span>
								<b>threesome:</b> <a href="">Tim Parker</a>, Tom Mino ( <a href="">invite</a> )
							</span>
						</div>
						<p class="day-break">
							<span class="day">Sunday</span>
							<span class="num">June 6th</span>
						</p>
						<span class="rtype rtournament">
							tournament
						</span>
					</li>
					<li class="golfround clear">
						<a href=""><%= image_tag(url_for_gravatar(@gravatar_email), :class => "avatar", :alt => "") %></a>
						<a title="" href="">83 (+11)</a> at Legion Memorial Golf Club
						<div style="border: 0px dotted silver;text-align:right;display:block;" align="right">
							<span>
								<b>threesome:</b> <a href="">Tim Parker</a>, Tom Mino ( <a href="">invite</a> )
							</span>
						</div>
						<p class="day-break">
							<span class="day">Sunday</span>
							<span class="num">June 13th</span>
						</p>
						<span class="rtype rtournament">
							tournament
						</span>
					</li>
				</ul>
			</div> <!-- golf rounds -->
		</div> <!-- main content-->
  </div> <!-- main -->
  <div id="sidebar">
	  <div class="side_description">Use these sidebar hotlinks to locate groups of rounds</div>
	  <div class="sideblock">
	  	<h3>Tags</h3>
	    <ul id="tag-list">
		    <li><a title="druids" rel="tag" href="">druids</a></li>
				<li><a title="windy" rel="tag" href="">windy</a></li>
			  <li><a title="winterrules" rel="tag" href="">winterrules</a></li>
			  <li><a title="fall" rel="tag" href="">fall</a></li>
			  <li><a title="carry_bag" rel="tag" href="">carry_bag</a></li>
		  </ul>
	  </div>
	  <div id="months-block" class="sideblock">
		  <h3>GolfAp Rounds Last 12 Months</h3>
		  <ul id="user-months" class="stacked wbadges">
			  <% for round in @rounds_per_month %>
			    <li id="month_#{round[:month_num]}_#{round[:year]}" class="bin">
			       <%= link_to "<span class='badge'>#{round[:num_rounds]}</span> #{round[:month]} #{round[:year]} ", 
								url_for(:m => round[:month_num], :y => round[:year]), :class => "" %>
			    </li>
			  <% end %>
			</ul>
		</div>
	</div> <!-- /sidebar -->
	

<div style="clear:left;"></div>
<p align="center">Find me in app/views/rounds/index.html.erb</p>
