<% @name = "Mark Holton" %>
<% @num_rounds = 3 %>
<% @playing_partner = [] %>
<% @playing_partner[1] = "Tim Parker" %>
<% @playing_partner[2] = "Tom Mino" %>

	<div id="main">
		<div id="subtab-nav">
			<ul><!-- class="subnav secondlevel"-->
				<li id="t-roundmain" class="selected"><a href="">Rounds Main</a></li>
				<li><a href="">Find Rounds</a></li>
				<li><a href="">Goals</a></li>
			</ul>
		</div>
		<div id="detail-nav">
			<ul class="clear">
				<%# new_player_round GET  /players/:player_id/rounds/new   {:controller=>"rounds", :action=>"new"} %>
				<li><a href="">Last 10 Rounds</a></li>
				<li><%= link_to "New Round", new_player_round_path(@user_id) %></li> 
				<li><a href="">Starred Rounds</a></li>
				<li id="t-findrounds">
					<a href="">
						Find Round:&nbsp;&nbsp;
						<em>more</em>
					</a>
					<ul class="submenu wbadges" style="display:none;">
						<li>6/13/08 : 88 (+16) at Druid's Glen GC</li>
						<li>6/6/08 : 87 (+15) at Druid's Glen GC</li>
						<li>6/5/08 : 83 (+11) at Legion Memorial GC</li>
					</ul>
				</li>
				<li id="t-bestrounds"><a href="">Best Rounds:&nbsp;&nbsp;<em>more</em></a></li>
			</ul>
		</div>
		
		<div id="flashes">
			<!-- -->
		</div>
		
		<div id="page-top">
		  <div class="greet clear">
			  <a href="/"><img class="avatar" title="[<%= @name %>]" src="/images/avatar.gif" alt="[<%= @name %>]" border="0"></a>
			  <h3 class="nameplate"><%= @name %></h3>
			  <p class="gmeta">
			  	You have played <a href=""><%= @num_rounds %> rounds</a> in the last month.
			  </p>
			</div>
		</div>
		<div align="center"><h2>Your recent golf rounds:</h2></div>
		<div id="main-content" class="clear">
			<div id="golfrounds"> <%# events %>
				<ul class="data golfrounds">
					<li class="golfround clear">
						<a href=""><img class="avatar" src="/images/avatar.gif" alt="<%= @name %>" border="0"></a>
						<a title="" href="">88 (+16)</a> at Druid's Glen Golf Club.
						<div style="border: 0px dotted silver;text-align:right;"><b>onesome:</b> <a href="">[enter playing partners]</a></div>
						<p class="day-break"><span class="day">Saturday</span><span class="num">June 5th</span></p>
						<span class="rtype rpractice">practice</span>
					</li>
					<li class="golfround clear">
						<a href=""><img class="avatar" src="/images/avatar.gif" alt="<%= @name %>" border="0"></a>
						<a title="" href="">87 (+15)</a> at Druid's Glen Golf Club.
						<div style="border: 0px dotted silver;text-align:right;display:block;" align="right">
							<span>
								<b>threesome:</b> <a href="">Tim Parker</a>, Tom Mino ( <a href="">invite</a> )
							</span>
						</div>
						<p class="day-break">
							<span class="day">Sunday</span>
							<span class="num">June 6th</span>
						</p>
						<span class="rtype rtournament">
							tournament
						</span>
					</li>
					<li class="golfround clear">
						<a href=""><img class="avatar" src="/images/avatar.gif" alt="<%= @name %>" border="0"></a>
						<a title="" href="">83 (+11)</a> at Legion Memorial Golf Club
						<div style="border: 0px dotted silver;text-align:right;display:block;" align="right">
							<span>
								<b>threesome:</b> <a href="">Tim Parker</a>, Tom Mino ( <a href="">invite</a> )
							</span>
						</div>
						<p class="day-break">
							<span class="day">Sunday</span>
							<span class="num">June 13th</span>
						</p>
						<span class="rtype rtournament">
							tournament
						</span>
					</li>
				</ul>
			</div> <!-- golf rounds -->
		</div> <!-- main content-->
  </div> <!-- main -->
  <div id="sidebar">
	  <div class="side_description">Use these sidebar hotlinks to locate groups of rounds</div>
	  <div class="sideblock">
	  	<h3>Tags</h3>
	    <ul id="tag-list">
		    <li><a title="druids" rel="tag" href="">druids</a></li>
				<li><a title="windy" rel="tag" href="">windy</a></li>
			  <li><a title="winterrules" rel="tag" href="">winterrules</a></li>
			  <li><a title="fall" rel="tag" href="">fall</a></li>
			  <li><a title="carry_bag" rel="tag" href="">carry_bag</a></li>
		  </ul>
	  </div>
	  <div id="months-block" class="sideblock">
		  <h3>Last 12 Months</h3>
		  <ul id="user-months" class="stacked wbadges">
			  <li id="month_6_2008" class="bin"><a href=""><span class="badge">3</span>June 2008</a></li>
				<li id="month_5_2008" class="bin"><a href=""><span class="badge">12</span>May 2008</a></li>
				<li id="month_4_2008" class="bin"><a href=""><span class="badge">15</span>April 2008</a></li>
				<li id="month_3_2008" class="bin"><a href=""><span class="badge">14</span>March 2008</a></li>
				<li id="month_2_2008" class="bin"><a href=""><span class="badge">8</span>February 2008</a></li>
				<li id="month_1_2008" class="bin"><a href=""><span class="badge">6</span>January 2008</a></li>
				<li id="month_12_2007" class="bin"><a href=""><span class="badge">2</span>December 2007</a></li>
				<li id="month_11_2007" class="bin"><a href=""><span class="badge">12</span>November 2007</a></li>
				<li id="month_10_2007" class="bin"><a href=""><span class="badge">14</span>October 2007</a></li>
				<li id="month_9_2007" class="bin"><a href=""><span class="badge">12</span>September 2007</a></li>
				<li id="month_8_2007" class="bin"><a href=""><span class="badge">16</span>August 2007</a></li>
				<li id="month_7_2007" class="bin"><a href=""><span class="badge">17</span>July 2007</a></li>
			</ul>
		</div>
	</div> <!-- /sidebar -->
	

<div style="clear:left;"></div>
<p align="center">Find me in app/views/rounds/index.html.erb</p>
