
<div id="main">
	<div id="subtab-nav">
		<ul><!-- class="subnav secondlevel"-->
			<li id="t-roundmain" class="selected">
				<a>
				  <%= @round.date_played.to_s.slice(0,10) %> 
				  <%= @round.date_played.year %>
				</a>
			</li>
			<li><div>Practice Round - Unvalidated</div></li>
		</ul>
	</div>
	<div id="detail-nav">
		<ul class="clear">
			<%# new_player_round GET  /players/:player_id/rounds/new   {:controller=>"rounds", :action=>"new"} %>
			<li>
				<!-- <a href="">Last 10 Rounds</a> -->
				<%= link_to "Scorecard", "/", :class => "selected" %> <!-- url_for(:n => 10) -->
			  <%# url_for(:id => "foo", :foobar => 200, :baz => "23k")%>
			</li>
			<li><a href="">Short-game</a></li>
			<li id="t-bestrounds"><a href="">Ball-striking</a></li>
			<li id="t-bestrounds"><a href="">Share</a></li>
		</ul>
	</div>
	
	<div id="flashes">
		<!-- -->
	</div>
	
	<div id="page-top">
		<div align="center"><h2>Round Details:</h2></div>
	  <div class="greet clear">
		  <a href="/">
			  <%= image_tag(url_for_gravatar(@user.email), :class => "avatar", :alt => "", :size => "48x48") %>
			</a>
		  <h3 class="nameplate"><%= @user.fname %> <%= @user.lname %></h3>
		  <p class="gmeta" style="float:right;">[Practice] round on [Friday, June 13th, 2008]</p>
		</div>
	</div>
	
	<div id="main-content" class="clear">
		<div id="round_summary" >
			<div id="roundsnapshot">
			  <span class="rsnapshot" id="bigroundscore"><%= @round.total_score %></span>
			  <span class="rsnapshot" style="float:left;">
			  	<div>vs par: <span class="val">+6</span> </div>
			    <div>vs Golfap-cap: <span class="val under">-1.2</span> </div>
			  </span>
			  <span class="rsnapshot" style="float:left;">
				  <div>GIR: <span class="val">11/18 (61.1%)</span> </div>
				  <div>Fairways: <span class="val">6/14 (42.9%)</span> </div>
				</span>
				<span class="rsnapshot" style="float:left;">
					<div>Putts: <span class="val">31</span> </div>
					<div>Up &amp; Downs: <span class="val">2/7 (28.6%)</span> </div>
				</span>
			</div>
		</div>
		
		<div id="mygolfround" class="clear" style="clear:left;"> <%# events %>
			<div style="border: 0px solid red;"></div>
		  <div id="scorecard">
			  <table class="scorecard">
				  <tbody>
				  	<tr>
					    <td colspan="22">[ gravatar ] - [ name ] - <%= @course.name %> - [ round date ]</td>
					  <tr>
						<tr>
							  <td>hole: </td>
							<% 9.times do |hole_ind| %>
							  <td><%= hole_ind + 1 %></td>
							<% end %>
							  <td>OUT</td>
							<% 9.times do |hole_ind| %>
								<td><%= hole_ind + 10 %></td>
							<% end %>
							  <td>IN</td>
							  <td>TOT</td>
						</tr>
						<tr>
							  <td>yardage: </td>
							<% 9.times do |hole_ind| %>
							  <td><%= @course_holes[hole_ind + 1].yardage %></td>
							  <% @out[:yardage] = @out[:yardage] + @course_holes[hole_ind + 1].yardage %>
							<% end %>
							  <td><%= @out[:yardage] %></td>
							<% 9.times do |hole_ind| %>
								<td><%= @course_holes[hole_ind + 1].yardage %></td>
								<% @in[:yardage] = @in[:yardage] + @course_holes[hole_ind + 1].yardage %>
							<% end %>
							  <td><%= @in[:yardage] %></td>
							  <td><%= @course_tee.yardage %></td>
						</tr>
						<tr>
							  <td>par: </td>
							<% 9.times do |hole_ind| %>
							  <td><%= @course_holes[hole_ind + 1].par %></td>
							<% end %>
							  <td></td>
							<% 9.times do |hole_ind| %>
								<td><%= @course_holes[hole_ind + 1].par %></td>
							<% end %>
							  <td></td>
							  <td><%= @course_tee.total_par %></td>
						</tr>
						<tr>
							  <td>score: </td>
							<% 9.times do |hole_ind| %>
							  <td><%= hole_ind + 1 %></td>
							<% end %>
							  <td></td>
							<% 9.times do |hole_ind| %>
								<td><%= hole_ind + 10 %></td>
							<% end %>
							  <td></td>
							  <td></td>
						</tr>
						<tr>
							  <td>putts: </td>
							<% 9.times do |hole_ind| %>
							  <td><%= hole_ind + 1 %></td>
							<% end %>
							  <td></td>
							<% 9.times do |hole_ind| %>
								<td><%= hole_ind + 10 %></td>
							<% end %>
							  <td></td>
							  <td></td>
						</tr>
						<tr>
							  <td>fairway: </td>
							<% 9.times do |hole_ind| %>
							  <td><%= hole_ind + 1 %></td>
							<% end %>
							  <td></td>
							<% 9.times do |hole_ind| %>
								<td><%= hole_ind + 10 %></td>
							<% end %>
							  <td></td>
							  <td></td>
						</tr>
						<tr>
							  <td>GIR: </td>
							<% 9.times do |hole_ind| %>
							  <td><%= hole_ind + 1 %></td>
							<% end %>
							  <td></td>
							<% 9.times do |hole_ind| %>
								<td><%= hole_ind + 10 %></td>
							<% end %>
							  <td></td>
							  <td></td>
						</tr>
						<tr>
							  <td>tee club: </td>
							<% 9.times do |hole_ind| %>
							  <td><%= hole_ind + 1 %></td>
							<% end %>
							  <td></td>
							<% 9.times do |hole_ind| %>
								<td><%= hole_ind + 10 %></td>
							<% end %>
							  <td></td>
							  <td></td>
						</tr>
						<tr>
							  <td>green club: </td>
							<% 9.times do |hole_ind| %>
							  <td><%= hole_ind + 1 %></td>
							<% end %>
							  <td></td>
							<% 9.times do |hole_ind| %>
								<td><%= hole_ind + 10 %></td>
							<% end %>
							  <td></td>
							  <td></td>
						</tr>
						<tr>
							  <td>up &amp; down: </td>
							<% 9.times do |hole_ind| %>
							  <td><%= hole_ind + 1 %></td>
							<% end %>
							  <td></td>
							<% 9.times do |hole_ind| %>
								<td><%= hole_ind + 10 %></td>
							<% end %>
							  <td></td>
							  <td></td>
						</tr>
						<tr>
							  <td>sand save: </td>
							<% 9.times do |hole_ind| %>
							  <td><%= hole_ind + 1 %></td>
							<% end %>
							  <td></td>
							<% 9.times do |hole_ind| %>
								<td><%= hole_ind + 10 %></td>
							<% end %>
							  <td></td>
							  <td></td>
						</tr>
				  </tbody>
				</table>
			</div>
		</div> <!-- /mygolfround -->
		
	</div> <!-- main content-->
</div> <!-- main -->

<div id="sidebar">
  <div class="side_description">Use these sidebar hotlinks to locate groups of rounds</div>
  <div class="sideblock">
  	<h3>Tags for this round&nbsp;&nbsp;</h3> <div><a href="">add tag..</a></div>
    <ul id="tag-list">
	    <li><a title="druids" rel="tag" href="">druids</a></li>
			<li><a title="windy" rel="tag" href="">windy</a></li>
		  <li><a title="winterrules" rel="tag" href="">winterrules</a></li>
		  <li><a title="fall" rel="tag" href="">fall</a></li>
		  <li><a title="carry_bag" rel="tag" href="">carry_bag</a></li>
	  </ul>
  </div>
  <div id="months-block" class="sideblock">
	  <h3>"What if" this round had...</h3>
	  <ul id="user-months" class="stacked wbadges">
		 <li id="month_#{round[:month_num]}_#{round[:year]}" class="bin">
		    <%= link_to "<span class=''>zero 3 putts</span>", 
						"", :class => "" %>
		 </li>
		 <li id="month_#{round[:month_num]}_#{round[:year]}" class="bin">
		   	<%= link_to "<span class=''>zero penalties</span>", 
						"", :class => "" %>
		 </li>
		 <li id="month_#{round[:month_num]}_#{round[:year]}" class="bin">
		   	<%= link_to "<span class=''>zero &quot;others&quot;</span>", 
						"", :class => "" %>
		 </li>
		 <li id="month_#{round[:month_num]}_#{round[:year]}" class="bin">
		   	<%= link_to "<span class=''>50% up and down</span>", 
						"", :class => "" %>
		 </li>
		 <li id="month_#{round[:month_num]}_#{round[:year]}" class="bin">
		   	<%= link_to "<span class=''>27 putts</span>", 
						"", :class => "" %>
		 </li>
		
		</ul>
		<h4>(it's possible.  get to work and make it happen!)</h4>
	</div>
</div> <!-- /sidebar -->
