
<div id="topright" style="float:right;">
  <span><a href="../store/invite_friends.cfm">Invite Friends</a></span> |
  <span><a href="../logout.cfm">Logout</a></span>
</div>

<div style="float:right;padding-bottom:0px;"><!-- <img src="logo.gif"> --></div>
<div style="border-bottom: 1px solid #DDD; clear:both;"></div>

<div id="nav" style="min-width:820px;padding-top:3px;">
<ul style="text-align:center;">
  <li id="t-group"><%= link_to "<div>Home</div>", player_path(@user_id) %></li>
  <li id="t-major"><%= link_to "<div>My Stats</div>", player_stats_path(@user_id) %></li>
  <li id="t-major"><%= link_to "<div>My Rounds</div>", player_rounds_path(@user_id) %></li>
	<li id="t-major"><%= link_to "<div>News</div>", news_index_path() %></li>
  <li id="t-message"><%= link_to "<div>Courses</div>", state_courses_path(@state_id) %></li>
  <!-- <li id="t-photos"><%# link_to "<div>Photos</div>", member_group_path(@group_id) %><a href="photos.cfm"><div>Photos</div></a></li></li> -->
	<li id="t-home"><%= link_to "<div>Leaderboards</div>", leaderboards_path() %></li>
  <li id="t-home"><%= link_to "<div>Tournaments</div>", state_tournaments_path(@state_id) %></li>
	<li id="t-home"><%= link_to "<div>Equipment</div>", equipment_types_path() %></li>
	<li id="t-settings"><%= link_to "<div>My Settings</div>", setting_path(@user_id) %></li>
	<%# if session id = 1 (me) %>
	<li id="t-admin"><a href="admin.cfm"><div>Admin</div></a></li><%# link_to "<div>Admin</div>", member_group_path(@group_id) %>
</ul>
</div>
<div id="poweredby" style="float:right;">
  <span>powered by <a href="http://www.golfap.com/news">golfap.com</a></span>
</div>
<br style="clear:left;">		

<!-- page content below... -->

